*.old
*.o
.DS_Store
machdump.dSYM/Contents/Resources/DWARF/machdump
machdump.dSYM/Contents/Info.plist
machdump
Makefile~
simple
simple.hex
simple.s~
simple.s
times2.s
symbol.s
symbol.s~
times2.s~
twofn.s
*.dump
